# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Android
*.iml
.gradle
/local.properties
.idea/
android/.gradle/
android/app/build/

# iOS
.idea/
xcuserdata/
*.xccheckout
*.xcodeproj/
*.xcworkspace
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/build/

# macOS
macos/Flutter/Flutter.podspec
macos/build/

# Web
webdev.lock

# Linux
linux/build/

